name: Backend-Deploy to AWS EC2
on:

  push:
    branches:
      - main
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
        run:
            working-directory: backend
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
            java-version: '17'
            distribution: 'temurin'

    - name: Make the Maven wrapper executable
      run: chmod +x ./mvnw

    - name: Build the backend
      working-directory: backend
      run: ./mvnw clean package -DskipTests
    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build Docker image
      working-directory: backend
      run: docker build -t ${{ secrets.DOCKER_IMAGE_NAME }} .

    - name: Push Docker image to DockerHub
      run: docker push ${{ secrets.DOCKER_IMAGE_NAME }}

    - name: Deploy to AWS EC2
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_IMAGE_NAME }}
          docker compose down
          docker compose up --build -d
